{% extends "basic.html" %}
{% load static %}
{% block activeButton %}
<li class="nav-item ">
    <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="{% url 'about' %}">
      About
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'service' %}">
      Services
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'portfolio' %}">
      Portfolio
    </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
  </li>
{% endblock %}

{% block mainContent %}
<!-- contact section -->

<section class="contact_section layout_padding-bottom layout_padding2-top">
    <div class="container px-0">
      <div class="heading_container">
        <h2 class="">
          Con<span>ta</span>ct Us
        </h2>
      </div>

    </div>
    <div class="container container-bg">
      <div class="row">
        <div class="col-lg-8 col-md-7 px-0">
          <div class="map_container">
            <div class="map-responsive">
              <iframe src="https://www.google.com/maps/embed/v1/place?key=YOUR_API_KEY&q=Eiffel+Tower+Paris+France" width="600" height="300" frameborder="0" style="border:0; width: 100%; height:100%" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-lg-4 px-0">
          <form action="" method="POST">
            {% csrf_token %} <!--  -->
            {{ form.as_p }}
            <div>
              <input type="text" placeholder="Name" name="name"/>
            </div>
            <div>
              <input type="gmail" placeholder="Gmail" name="gmail"/>
            </div>
            <div>
              <input type="text" placeholder="Phone" name="phone"/>
            </div>
            <div>
              <input type="text" class="message-box" placeholder="Message" name="message"/>
            </div>
            <div class="d-flex ">
              <button type="submit" name='send'>SEND</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- end contact section -->

  <!-- client section -->
  <section class="client_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container">
        <h2>
          What <span>says</span> our clients
        </h2>
      </div>

      <!-- replicated seciton -->
      {% for custom in CustomInfo %}
      <div class="box">
        <div class="client_id">
          <div class="name">
            <h4>
              {{ custom.name }}
            </h4>
          </div>
          <div class="img-box">
            <img src="{% static custom.photo %}" alt="">
          </div>
        </div>
        <div class="detail-box">
          <p>
            {{ custom.message }}
          </p>
          <img src="{% static 'images/quote.png' %}" alt="">
        </div>
      </div>
      {% endfor %}
      <!-- end replicated seciton -->
    </div>
  </section>

  <!-- end client section -->
{% endblock %}
