{% extends "basic.html" %}
{% load static %}
{% block activeButton %}
  <li class="nav-item ">
    <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'about' %}">
      About
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'service' %}">
      Services
    </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'portfolio' %}">
      Portfolio
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
  </li>
{% endblock %}     

{% block mainContent %}
  <!-- portfolio section -->
  <section class="portfolio_section layout_padding2-top">
    <div class="heading_container">
      <h2>
        Por<span>tf</span>olio
      </h2>
      <p>
        Brief intro to the members in our studio!
      </p>
    </div>
    <div class="portfolio_container layout_padding">
      <div class="box-1">
        <div class="img-box b-1">
          <img src="{% static 'images/dennis.png' %}" alt="">
          <div class="btn-box">
            <a href="" class="btn-1">

            </a>
            <a href="" class="btn-2">

            </a>
          </div>
        </div>
        <div class="img-box b-1">
          <img src="{% static 'images/jensen.png' %}" alt="">
          <div class="btn-box">
            <a href="" class="btn-1">

            </a>
            <a href="" class="btn-2">

            </a>
          </div>
        </div>
      </div>
      {% comment %} <div class="box-2">
        <div class="img-box b-3">
          <img src="{% static 'images/p3.jpg' %}" alt="">
          
        </div>
        <div class="img-box b-4">
          <img src="{% static 'images/p4.jpg' %}" alt="">
          
        </div>
      </div> {% endcomment %}
    </div>
  </section>

  <!-- end portfolio section -->
{% endblock %}

