{% extends "basic.html" %}
{% load static %}
{% block activeButton %}
  <li class="nav-item ">
    <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'about' %}">
      About
    </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'service' %}">
      Services
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'portfolio' %}">
      Portfolio
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
  </li>
  {% endblock %}

  {% block mainContent %}
  <!-- service section -->

  <section class="service_section layout_padding-bottom layout_padding2-top">
    <div class="container">
      <div class="heading_container">
        <h2>
          Ser<span>vi</span>ces
        </h2>
        <p>
          Jenesis 所提供的服務
        </p>
      </div>
      <div class="row">
        <div class="col-lg-6 ">
          <div class="img-container tab-content">
            <div class="img-box tab-pane fade show active" id="img1" role="tabpanel">
              <img src="{% static 'images/service-webdev.png' %}" alt="" />
            </div>
            <div class="img-box tab-pane fade  " id="img2" role="tabpanel">
              <img src="{% static 'images/service-llm.png' %}" alt="" />
            </div>
            <div class="img-box tab-pane fade  " id="img3" role="tabpanel">
              <img src="{% static 'images/service-web3.png' %}" alt="" />
            </div>
            <div class="img-box tab-pane fade  " id="img4" role="tabpanel">
              <img src="{% static 'images/service-img.jpg' %}" alt="" />
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="detail-container nav nav-tabs" id="myTab" role="tablist">
            <div class="detail-box active" id="img1-tab" data-toggle="tab" href="#img1" role="tab" aria-selected="true">
              <h4>
                Web <br />
                Development
              </h4>
            </div>
            <div class="detail-box" id="img2-tab" data-toggle="tab" href="#img2" role="tab" aria-selected="false">
              <h4>
                AI model <br />
                & LLM
              </h4>
            </div>
            <div class="detail-box" id="img2-tab" data-toggle="tab" href="#img3" role="tab" aria-selected="false">
              <h4>
                Web3 <br />
                Development
              </h4>
            </div>
            <div class="detail-box" id="img2-tab" data-toggle="tab" href="#img4" role="tab" aria-selected="false">
              <h4>
                Others
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->
  {%endblock%}

  {% block carousel %}
  <!--  carousel -->
  <script>
    $('.owl-carousel').owlCarousel({
      loop: true,
      margin: 10,
      nav: true,
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 2
        },
        1000: {
          items: 3
        }
      }
    })
  </script>
  <!-- end carousel -->
  <!-- custom js -->
  <!-- end custom js -->
  {% endblock %}
